<div *ngIf="character">
  <div class="card">
    <img [src]="character.image" class="card-img-top" alt="{{character.name}}">
    <div class="card-body">
      <h5 class="card-title">{{ character.name }}</h5>
      <p class="card-text"><strong>Espécie:</strong> {{ character.species }}</p>
      <p class="card-text"><strong>Status:</strong> {{ character.status }}</p>
      <p class="card-text"><strong>Gênero:</strong> {{ character.gender }}</p>
      <p class="card-text"><strong>Origem:</strong> {{ character.origin.name }}</p>
      <p class="card-text"><strong>Localidade:</strong> {{ character.location.name }}</p>
      <button mat-button color="primary" (click)="closeModal()">Voltar</button>
    </div>
  </div>
</div>
