.modal-content {
  padding: 20px;
  max-height: 80vh;
  overflow-y: auto;
}

.modal-body {
  padding: 20px;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.character {
  flex: 0 0 calc(20% - 10px); /* Ajuste conforme necessário para o número desejado por linha */
  text-align: center;
  margin-bottom: 10px; /* Garante um espaço uniforme entre as linhas */
}

.character-image {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-bottom: 5px; /* Espaço entre a imagem e o nome */
}

.character-name {
  font-size: 14px;
  word-wrap: break-word;
}
