@import '../../variables';

.navbar {
  position: fixed;
  width: 100%;
  z-index: 101;
  --bs-navbar-brand-margin-end: 0;
}

.navbar-brand {
  padding-left: 10px;
}

.dropdown-menu {
  right: 0;
  left: auto;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-item:active {
  color: white;
}

.dropdown-item.logout {
  &:active {
    background-color: red;
  }
}

.dropdown-item.profile {
  &:active {
    background-color: $darker-green-dark;
  }
}

@media (max-width: 767.98px) {
  .navbar-brand {
    padding-left: 65px;
  }
}
