<div class="d-flex justify-content-center">
  <app-search-bar (search)="onSearch($event)"></app-search-bar>
</div>

<!-- Spinner de carregamento -->
<div *ngIf="isLoading && !isLoadingMore" class="d-flex justify-content-center my-3">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Carregando...</span>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-sm-6" *ngFor="let character of characters">
    <app-card
      [imageUrl]="character.image"
      [title]="character.name"
      [text]="character.species"
      [link]="['/character', character.id].join('/')"
      linkText="Detalhes"
      (detailClick)="openCharacterModal(character)">
    </app-card>
  </div>
</div>

<!-- Spinner de carregamento adicional -->
<div *ngIf="isLoadingMore" class="d-flex justify-content-center my-3">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Carregando...</span>
  </div>
</div>

<!-- Botão flutuante para voltar ao topo -->
<button *ngIf="showScrollToTop" (click)="scrollToTop()" class="btn btn-primary scroll-to-top">
  ↑
</button>
